*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page
{
    height: 100vh;
    width: 100wh;
    background-color: #0e86c7;
}

.wrapper
{
    width: 90%;
    margin: auto;
}

.controls-button
{
    display: flex;
    flex-wrap: wrap;
}

.buttons-radio
{
    width: 3vh;
    height: 3vh;
    padding: 1vh;
    margin: 1vh;

    appearance: none;
    background-color: #a9b4b9;
    border: 0.5vh solid #a9b4b9;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.buttons-radio:hover
{
    border-color: #ffffff;
    background-color: #ffffff;
}

.buttons-radio:checked
{
    background-color: #666c70;
}

/* input[type="radio"]
{
    background-color: aqua;
    cursor: pointer;
    color: antiquewhite;
    border-color: blue;
    border-radius: 50%;
} */

#radio1:checked ~ .slaider > .item1,
#radio2:checked ~ .slaider > .item2,
#radio3:checked ~ .slaider > .item3,
#radio4:checked ~ .slaider > .item4,
#radio5:checked ~ .slaider > .item5,
#radio6:checked ~ .slaider > .item6
{
    display: block;
}

#radio1:checked ~ .controls-text > .text1,
#radio2:checked ~ .controls-text > .text2,
#radio3:checked ~ .controls-text > .text3,
#radio4:checked ~ .controls-text > .text4,
#radio5:checked ~ .controls-text > .text5,
#radio6:checked ~ .controls-text > .text6
{
    display: block;
}

.controls-text
{
    margin-right: auto;
    order: -1;

    font-size: 3rem;
    color: azure;
}

.text-items
{
    display: none;
}

.slaider
{
    height: 70vh;
    width: 100%;
    margin-bottom: 5vh;
    padding-top: 5%;
    order: -2;
    transition: 0.3s;
}

.slider-items
{
    display: none;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.item1
{
    background-image: url(assets/img/getit.jpg);
}

.item2
{
    background-image: url(assets/img/wtf.jpg);
}

.item3
{
    background-image: url(assets/img/itsnotour.gif);
}

.item4
{
    background-image: url(assets/img/formr.jpg);
}

.item5
{
    background-image: url(assets/img/nothx.jpg);
}

.item6
{
    background-image: url(assets/img/imagination.jpg);
}



@media (max-width: 768px)
{
    .controls-text
    {
        order: 0;
    }

    .buttons-radio
    {
        order: -1;
    }
}